<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-logo" href="https://www.aeon.com.vn/aeon-eshop/"><img src="~/Content/image/logo.png" style="width:50px;"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-center">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Push <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action (none)</a></li>
                            <li><a href="#">Another action (none)</a></li>
                            <li><a href="#">Something else here (none)</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "SVR_VIEW")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "SVR_VIEW")"> View</a></li>
                            <li><a href="@Url.Action("Index", "Home")"> Version</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master Data <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action (none)</a></li>
                            <li><a href="#">Another action (none)</a></li>
                            <li><a href="#">Something else here (none)</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>  @Session["userName"].ToString() <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @*<li><a href="#" data-toggle="modal" data-target="#changepassModal"><span class="glyphicon glyphicon-cog"></span>  Change Password</a></li>*@
                            <li><a href="@Url.Action("ChangePassword", "Account")" data-toggle="modal" data-target="#changepassModal"><span class="glyphicon glyphicon-cog"></span>  Change Password</a></li>
                            <li><a href="@Url.Action("LogOut", "Account")"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <div class="modal fade" id="changepassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--Content Change Password -->
            </div>
        </div>
    </div>
    <script src="~/Scripts/ChangePassword.js"></script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AnhThai ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>